.button {
  border-radius   : 5px;
  font-size       : 12px;
  font-weight     : bold;
  color           : #ffffff;
  border-width    : 1px;
  border-color    : #212325;
  box-shadow      : inset 0 1px 0 rgba(255,255,255,0.3),
                          0 1px 1px rgba(0,0,0,0.5);
}

#modifier_label{
  font-size       : 12px;
  background-color: none;
}

.dice_button {
  background-color: linear-gradient(#3c4145, #585e62);
}

.chosen_dice {
  background-color: linear-gradient(#3c4145, #585e62);

}

.result_button {
  background-color: linear-gradient(#3c4145, #585e62);

}

.roll_button {
  background-color: linear-gradient(#3c4145, #585e62);

}

.reroll_button {
  background-color: linear-gradient(#3c4145, #585e62);

}

.result_label {
  font-size: 12px;
  background-color: none;
  font-align: center;
}
